body {
  background-color: LightGray;
}

h1 {
  padding: 15px 0 15px 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-top: 10px;
  font-size: 40px;
  font-family: helvetica;
  border-style: solid;
  border-width: 10px;
  color: white;
  background-color: Olive;
  text-align: center;
  border-color: LightGray;
  text-shadow: 0 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.first {
  padding: 15px 0 15px 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 30px;
  font-family: helvetica;
  border-style: solid;
  border-width: 10px;
  color: white;
  background-color: Olive;
  text-align: center;
  border-color: LightGray;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rules {
  font-size: 25px;
  font-family: helvetica;
  border-style: solid;
  border-width: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 20px;
  background-color: Olive;
  border-color: LightGray;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game {
  font-size: 25px;
  font-family: helvetica;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 20px;
  background-color: Olive;
  border-color: LightGray;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  font-family: helvetica;
  text-align: right;
  border-style: solid;
  border-width: 10px;
  padding-right: 10px;
  border-radius: 20px;
  color: white;
  background-color: Olive;
  margin-top: 20px;
  border-color: LightGray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
  display: flex;
  flex-wrap: wrap;
}

.side {
  width: 30%;
}

.main {
  width: 70%;
}

img.ethlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  filter: drop-shadow(3px 3px 3px #222);
}

.flipButton {
  background-color: Brown;
  border-radius: 8px;
  color: white;
  padding: 15px 40px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-family: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fundsButton {
  font-family: helvetica;
  background-color: DarkCyan;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.withdrawButton {
  font-family: helvetica;
  background-color: DarkCyan;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.getBalanceButton {
  font-family: helvetica;
  background-color: DarkCyan;
  border-radius: 8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.funds {
  font-family: helvetica;
}
